<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Crear Servicio</title>
  <link rel="stylesheet" href="/css/cliente.css" />
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body class="home crear">
  <a href="Manzanas.html"><ion-icon name="arrow-undo-circle-outline" class="back"></ion-icon></a>
  <h1>Crear Manzana</h1>
  <div class="formulario">
    <form id="crearManzanaForm" onsubmit="saveManzana(event)">
      <label for="">Nombre de la Manzana</label><br>
      <input type="text" name="nombre_manzana" id="nombre" required ><br>
      
      <label for="servicios"></label>
      <div id="serviciosContainer"></div>
      <button type="submit">Crear Manzana</button>
  
    </form>
  </div>
</body>
<script src="../Js/manzana.js"></script>
<script>
  loadServices()
</script>
</html>