<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Barra de Navegación Lateral</title>
  <link rel="stylesheet" href="/css/cliente.css" />
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body class="home crear">

  <h1>Crear Servicio</h1>
  <div class="formulario">
    <form action="" method="post">
      <input type="text" placeholder="Nombre del Servicio">
      <input type="text" placeholder="Descripcion">
      <select name="" id="">
        <option value="">Seleccione la Manzana</option>
        <option value=""></option>
      </select>
      
      <input type="submit" value="Registrar Servicio">
    </form>
  </div>
</body>

</html>