<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de Navegación Lateral</title>
    <link rel="stylesheet" href="/css/cliente.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</head>

<body>
    <!-- Barra de Navegación -->
    <div class="menu-btn" id="menu-btn">
        <ion-icon name="menu-outline"></ion-icon>
    </div>

    <nav class="sidebar" id="sidebar">
        <div class="sidebar-logo">
            <img src="/Assets/Logo.png" alt="">
            <h3>Manzanas del</h3>
            <h3>Cuidado</h3>
        </div>
        <ul>
            <li class="submenu">

                    <a href="#" class="submenu-btn">
                        <div class="submenu-item">
                        <ion-icon name="home-outline" class="home-icon"></ion-icon>
                        <p>Dashboard</p>
                        <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
                    </div>
                    </a>
                
                <ul class="submenu-content">
                    <li><a href="/Views/Inicio.html">Inicio</a></li>
                    <li><a href="/Views/Usuarios.html">Usuarios</a></li>
                    <li><a href="/Views/Servicios.html">Servicios</a></li>
                    <li><a href="/Views/Manzanas.html">Manzanas</a></li>
                </ul>
            </li>


            <li><a href="" onclick="logout()">Cerrar Sesion</a></li>
            
        </ul>

    </nav>
    <!-- Tabla -->
    <div class="content">
        <h1>Bienvenid@ <span id="nombreUsuario"> </span></h1>

        <form id="manzanaForm" onsubmit="saveServices(event)">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody id="manzanaTable"></tbody>
            </table>
            <input type="date" id="date" name="date" required>
            <button type="submit">Guardar Servicios</button>
        </form>

    </div>

    <script src="../Js/script-2.js"></script>
    <script src="../Js/auth.js"></script>
    <script src="../Js/service.js"></script>
    <script>
        fetch('http://localhost:3000/user/infoUser')
            .then(res => res.json())
            .then(data => {
                document.getElementById('nombreUsuario').textContent = data.Usu_Nombre
            })
            .catch(err => console.error(`Error al obtener los datos del usuario: ${err}`))

        loadManzanaServices()
    </script>
    
</body>

</html>