<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Manzanas</title>
  <link rel="stylesheet" href="/css/cliente.css" />
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
  <a href="/Views/Inicio.html"><ion-icon name="arrow-undo-circle-outline" class="back"></ion-icon></a>
  <div class="content-1">
  <h1>Listado De Manzanas</h1>
  <div class="button">
    <a href="/Views/Crear_manzana.html"><input type="submit" value="Crear Manzana"></a>
  </div>

  <form id="">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre de la Manzana</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="">
        <tr>
          <td></td>
          <td>Suba</td>
          <td><a href="/Views/Actualizar_manzana.html">Actualizar</a></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

  <script src="/Js/script-2.js"></script>
  <script src="/Js/auth.js"></script>

</body>

</html>