<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Servicios usuario</title>
  <link rel="stylesheet" href="/css/cliente.css" />
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
  <form action=""></form>
  <a href="/Views/Inicio.html"><ion-icon name="arrow-undo-circle-outline" class="back"></ion-icon></a>
  <div class="content-1">
  <h1>Listado De Servicios</h1>
  <div class="button">
    <a href="/Views/Crear_servicio.html"><input type="submit" value="Crear Servicio"></a>
  </div>

  <form id="serviceForm">
    <table>
      <thead>
        <tr>
          <th>Nombre del Servicio</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="userServicesTable">
      </tbody>
    </table>
  </form>
</div>
  <script src="../Js/script-2.js"></script>
  <script src="../Js/auth.js"></script>
  <script src="../Js/service.js"></script>
  <script>
    loadUserServices()
  </script>
</body>

</html>