@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --primary-color: #9694FF;
  --secondary-color: #ffffff;
  --tertiary-color:#000000;
  --fourth-color:#FFE0D2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
body{
  background-color:var(--primary-color);
}
video {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

/* Barra De Navegacion */

header {
  width: 90%;
  top: 0;
  margin: auto;
  margin-top: 20px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  padding: 5px 10%;
  border-radius: 20px;
}

header ul li {
  list-style: none;
  font-size: 2rem;
  font-weight: 600;
}

header ul li a {
  color: var(--tertiary-color);
}
header .nav-toggle{
  position: relative;
    font-size: 2.5rem;
    padding: 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}
.buttons {
  display: flex;
}

.buttons .btn {
  padding: 15px;
}

.buttons .btn button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}


.logo {
  width: 40px;
}

@media(max-width:768px){
  header ul{
    display: none;
  }
  header .nav-toggle{
    display: block;
}
  header .nav {
    width: 90%;
    flex-direction: column;

}
header .nav-visible{
    left: 100%;
}
}

/* Fin Barra De navegacion */
.container {
  width: 90%;

  padding: 10%;
  margin: auto;
  text-align: center;

}

.container h1 {
  font-size: 4rem;
  color: #ffffff;
}

.container img {
  width: 40%;
}

.container .icon {
  margin-top: 5%;
  padding: 20px;
  color: #fff;
  font-size: 32px;
}

.home {
  background-color: #fff;
}

.container-2 {
  width: 95%;
  padding: 2%;
  margin: auto;

}

.container-2 h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
}

.container-2 .content {
  border-top: 2px solid #ffffff;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container-2 .content img {
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 20px;
  width: 90%;
  transition: .3s;
  text-align: center;

}

.container-2 .content img:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.27);
}

@media (min-width:601px) and (max-width:1024px) {
  .container-2 .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:600px) {
  .container-2 .content {
    width: 100%;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
}

.container-3 {
  width: 95%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.27);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-3 .left {
  padding: 5%;
  text-align: justify;
}

.container-3 .left h2 {
  font-size: 3rem;
  text-align: center;
}

.container-3 .left p {
  padding: 20px;
  font-size: 1.5em;
}

.container-3 .right {
  border-radius: 20px;
  background-color: #ff8c6b;
}

.container-3 .right img {
  width: 100%;

}

@media (max-width:991px) {
  .container-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container-4 {
  width: 95%;
  text-align: justify;
  background: #fff;
  margin: auto;
  padding: 3%;
  border-radius: 20px;
}

.container-4 h1 {
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;

}

.container-4 .resena {
  padding: 20px;
  display: flex;
  align-items: center;
}

.container-4 .resena img {
  width: 80px;

  border-radius: 50%;
}

.container-4 .resena h4 {
  padding: 1%;
  font-size: 1.5rem;
  font-weight: 500;
}

.container-5 {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
  padding: 100px 0;
}

.container-5 .content-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.content-2:nth-child(1) {
  grid-column-start: span 2;
}

.content-2:nth-child(4) {
  grid-column-start: span 2;
}

@media (max-width:991px) {
  .container-5 {
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .content-2:nth-child(1) {
    grid-column-start: span 1;
  }

  .content-2:nth-child(4) {
    grid-column-start: span 1;
  }

}

footer {
  width: 100%;
  background-color: #333;
  padding: 2%;
}

footer .section-1 {
  width: 90%;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: auto;
}

.section-1 h1 {
  color: #fff;
  font-size: 4rem;
  transition: .5s;
}

.section-1 h1:hover {
  color: #fff;
}

.section-1 .submit {
  border-left: 1px solid #fff;
  padding: 2%;
}

.submit input {
  padding: 1rem;
  font-size: 2rem;
  border: 0;
  border-radius: 25px;
  font-family: inherit;
  background: linear-gradient(to bottom, #E85234 0%, #fff 100%);
  color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.submit input:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.section-2 {
  width: 90%;
  margin: auto;
  padding: 3%;
  display: flex;
  justify-content: space-between;
}

.section-2 .links {
  display: flex;
  padding: 15px;
  margin-left: 5rem;
}

.section-2 .links ul li {
  list-style: circle;
  line-height: 2rem;
  font-size: 1.2rem;
}

.section-2 .links ul li a {
  color: #fff;
}
.section-2 .Social{

  color: #fff;
  font-size: 4rem;
}
