@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

video {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

/* Barra De Navegacion */

header {
  width: 90%;
  top: 0;
  margin: auto;
  margin-top: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  padding: 5px 10%;
}
header ul li {
  list-style: none;
  font-size: 2rem;
  font-weight: 600;
}
header ul li a {
  color: #000;
}
.buttons .btn {
  padding: 20px;
}
.buttons .btn button {
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  font-weight: 500;
}
.buttons
hr{
    width: 90%;
    margin: auto;
}
.logo{
    width: 40px;
}
/* Fin Barra De navegacion */
.container {
  width: 90%;
  padding: 10%;
  margin: auto;
  text-align: center;

}
.container h1{
    font-size: 4rem;
    color: #ffffff;
}
.container img{
    width: 40%;
}













/* ---------------------------------------------------------------------------------------------------------------------- */
/* Registrarse */
.registro{
    width: 100%;
    background-color:#E85234;
    font-family: "Poppins", sans-serif;
}
.container-register{
    margin: auto;
    background: #ffffff;
    width: 80%;
    max-height: 800px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}
.form{
    background-color:#fff ;
    margin: auto;
    width: 90%;
    max-width: 600px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 /30%);
    text-align: center;
}
.form_title{
    font-size: 2rem;
    margin-bottom: .5rem;
}
.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form_group{
    position:relative;
    color: #bbb;
}
.form__input{
    width: 100%;
    background: none;
    color: #000;
    font-size:1rem ;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(.12px) scale(.7);
    transform-origin: left top;
    color: #344955;
}
.form__label{
    color: #bbb;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s,color,.3s;
}
.form_submit{
    margin-top: 10px;
    background: #525CEB;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: .8rem 0;
    border: none;
    border-radius: .5em;
    width: 100%;
    cursor: pointer;
}
.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #525CEB;
}
.container-register .right .img{
    width: 70%;
}
